.random,.random1{
    background-color: black;
    color: white;
    padding: 10px 15px;
}

.start{
    display: inline;
}

.random{
    position: absolute;
    top: 50px;
    left: 10px;
}

.random1{
    position: absolute;
    top: 50px;
    left: 160px;
}

.second{
    margin-top: 5px;
    position: absolute;
    left: 190px;
    top: 0px;
}

.click{
    margin-top: 20px;
    margin-left: 320px;
    font-size: 25px;
}

.random2,.random3{
    background-color: black;
    color: white;
    padding: 10px 15px;
    /* margin-top: 10%; */
}

.start1{
    display: inline-block;
}

.random2{
    display: block;
}

.random3{
    position: relative;
    bottom: 39px;
    margin-left: 150px;
}

.second1{
    display: inline-block;
    position: absolute;
    left: 190px;
}

.click1{
    margin-top: -60px;
    margin-left: 320px;
    font-size: 25px;
}

.down{
    margin-top: 100px;
}

.line{
    display: inline-block;
    background-color: black;
    height: 2px;
    width: 100%;
    margin-top: 170px;
}

.ply1{
    position: absolute;
    top: 100px;
    left: 500px;
}

.ply2{
    position: absolute;
    left: 500px;
    bottom: 140px;
}