.random,.random1{
    background-color: black;
    color: white;
    padding: 10px 15px;
}

.start{
    /* display: inline; */
    position: absolute;
    top: 60px;
    left: 55px;
}

.random{
    position: absolute;
    top: 150px;
    left: 30px;
}

.random1{
    position: absolute;
    top: 150px;
    left: 190px;
}

.second{
    position: absolute;
    left: 220px;
    top: 60px;
}

.click{
    position: absolute;
    top: 200px;
    left: 168px;
    font-size: 30px;
}

.random2,.random3{
    background-color: black;
    color: white;
    padding: 10px 15px;
    /* margin-top: 10%; */
}

.start1{
    position: absolute;
    left: 52px;
}

.random2{
    position: absolute;
    top: 80px;
    left: 30px;
}

.random3{
    position: relative;
    left: 190px;
    top: 80px;
}

.second1{
    position: absolute;
    left: 220px;
}

.click1{
    position: relative;
    top: 100px;
    margin-left: 168px;
    font-size: 30px;
}

.down{
    position: absolute;
    top: 400px;
}

.line{
    display: inline-block;
    position: absolute;
    background-color: black;
    height: 2px;
    width: 100%;
    top: 320px;
}

.ply1{
    position: absolute;
    top: 110px;
    left: 800px;
    font-size: 35px;
}

.ply2{
    position: absolute;
    left: 800px;
    bottom: 150px;
    font-size: 35px;
}